<h1>New family_document</h1>

<% form_for( @family_document ) do | f | %>
  <%= f.error_messages %>

    <%= render( :partial => "shared/doc_new", :object => f ) %>
    <%= f.submit "Create" %>
<% end %>
<%= link_to 'List all family documents', family_documents_path %>
